.img{
    width: 80px;
    height: 80px;
}

a{
    text-decoration: none;
    color: #5D5C5C;
    font-weight: bold;
}

a:hover{
    color: #B3B3B3;
}

ul{
    list-style-type: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.div_header{
    margin-left: 55px;
}

.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 90%;
    height: 10vh;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    width: 50%;
}

.link{
    position: relative;
}

.link::after{
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #cea786;
    display: block;
    margin-top: 5px;
    transition: width 0.3s;
}

.link:hover::after{
    width: 100%;
}